@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
}

.hidden{
    display: none;
}

.pointer{
    cursor: pointer;
}